body {

  font-family: 'Lato', sans-serif;


}


h1 {

  font-family: 'Bodoni* 96';
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 40px;
  font-weight: bold;
  text-align: center;

}



h2 {

  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  font-size: 0.6em;
  text-align: center;
  margin: 0px 0px 0px 0px;
  mb-2

  }

  h3 {

    font-family: monospace;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;


  }

  h4 {

      font-family: 'Bodoni* 96';
      font-weight: bold;
      margin: 0px 0px 0px 0px;
      font-size: 1em;
      mb-1
      

    }

  h6  { 
      font-family: 'Rubik', sans-serif;
      font-weight: lighter;
      font-size: 0.4em;
      text-align: center;
      margin: 0px 0px 0px 0px;
  

       }
  p {

    font-family: 'Lato', sans-serif;
    text-align: justify; 

